<div class="beheer-opdrachten-page page">
    <div class="container page">
        <div class="row">
            <md-button class="pull-right md-primary md-raised opdracht-toevoegen-btn" ng-click="$ctrl.showBewerken($event, 'Toevoegen')">
                Nieuwe student
            </md-button>
        </div>
        <div class="studenten">
            <md-list>
                <md-list-item ng-repeat="student in studenten" ng-click="goToPerson(person.name, $event)" class="noright">
                    <img alt="{{ student.username }}" ng-src="{{ student.img }}" class="md-avatar"/>
                    <p>{{ student.username }}</p>
                    <md-icon ng-click="doSecondaryAction($event)"><i class="material-icons">mode_edit</i></md-icon>
                    <md-icon  ng-click="doSecondaryAction($event)" md-svg-icon="communication:message"></md-icon>
                </md-list-item>
            </md-list>
        </div>

    </div>
</div>
