footer {
	background: #243342 ;
margin-top: 3rem;
padding: 1rem 0;
position: absolute;
bottom: 0;
color: darken(#fff, 15%);

text-align: center;
font-size: 0.9em;
width: 100%;
border-top: 5px solid darken(#243342,3%);
}
