.bewerk-vriend-page {
	margin-top: 0 !important;
	label {
		font-weight: 500;
	}

	select {
		width: 100%;
		background: white;
		height: 1em;
		display: block;
		height: 40px;
	}
	.vriend-image {
		width:200px;
  		height:200px;
		overflow: hidden;
		text-align: center;
		margin: auto auto;
		display: block;
		margin-top: 1em;
		margin-bottom: 2em;

	}
}

.banner {
	background: #5CB85C;
}

img {
  width: auto;
  height: auto;
}
