.vriend-page {
	.entry {
		margin-bottom: 1em;

		.label {
			font-weight: bold;
			font-size: 1.2rem;
		}
	}
}

.user-img {
	display: block;
	margin: auto;
	width: 150px;
    height: 150px;
    border-radius: 100px;
}

.vriend-button {
	text-align: center;
}

