<md-dialog aria-label="Mango (Fruit)" class="form-bewerk-opdracht">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{$ctrl.type}}
                    Partituur</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon md-svg-src="/assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <list-errors errors="$ctrl.errors"></list-errors>

                <fieldset ng-disabled="$ctrl.isSubmitting">
                    <fieldset class="form-group">
                        <label for="naam">Naam</label>
                        <input class="form-control" ng-model="$ctrl.partituur.naam" type="text" name="naam" required/>
                    </fieldset>
                </fieldset>

                <input type="file" ngf-select ng-model="$ctrl.file" name="file" ngf-max-size="20MB" />
                <i ng-show="$ctrl.file.$error.required">*required</i><br>
                <i ng-show="$ctrl.file.$error.maxSize">File too large
                    {{$ctrl.file.size / 1000000|number:1}}MB: max 20M</i>
                <p>{{up.progress}}</p>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button class="md-primary md-raised" ng-click="$ctrl.submit()">
                {{$ctrl.type}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
