body {
	background: #fff;
}

.select-student-list {
	background: lighten(#eee, 1%);
	padding-bottom: 1em;
	margin-top: 2em;
	.title {
		padding: 1em;
		font-weight: bold;
	}
	.student {
		padding: 0.5em 1em;
		outline: none;

		&.selected {
			background: #3498db;
			color: #fff;
			outline: none;

		}
		&:hover:not(.selected) {
			background: darken(#eee, 10%);
		}
	}
}
