<md-dialog aria-label="Mango (Fruit)" class="form-bewerk-opdracht">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{$ctrl.type}} Opdracht</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon md-svg-src="/assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <list-errors errors="$ctrl.errors"></list-errors>

                <fieldset ng-disabled="$ctrl.isSubmitting">
                    <fieldset class="form-group">
                        <label for="naam">Naam</label>
                        <input class="form-control" ng-model="$ctrl.opdracht.naam" type="text" name="naam" required/>
                    </fieldset>

                    <fieldset>
                        <label for="beschrijving">Beschrijving</label>
                        <textarea class="form-control" ng-model="$ctrl.opdracht.beschrijving" name="beschrijving" required ]></textarea>
                    </fieldset>

                    <fieldset>
                        <label for="datum">Datum</label>
                        <md-datepicker ng-model="$ctrl.opdracht.deadline" md-placeholder="Kies datum"></md-datepicker>
                    </fieldset>
                </fieldset>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button class="md-primary md-raised" ng-click="$ctrl.submit()">
                {{$ctrl.type}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
